@import url('https://fonts.googleapis.com/css?family=Roboto');

$primarycolor: #ff7878;
$secondarycolor: #3c3c3c;

$bgColor: #f3f3f3;
$fgColor:#fff;
$rgb: rgb( 0, 0, 0);

$smSpace:20px;
$mdSpace:40px;
$lgSpace:70px;

@mixin padLR ($padding){
	padding-left:$padding;
	padding-right:$padding;
}

@mixin margLR($margin){
	margin-left:$margin;
	margin-right:$margin;
}

@mixin bigLetter(){
	font-size: 150px;
	display: inline-block;
	margin-right: 10px;
}

@mixin smLetter(){
	display: inline-block;	
    margin-top: 50px;
    text-align: left;
    vertical-align: top;
} 

//html { display: block}

body { 
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	color: $secondarycolor;

}

ul {list-style: none}

main {
	padding: 0 0 30px 0;
	background: $bgColor;
}

nav {
	width: 100%;
	background-color:$primarycolor;
	height: 55px;
	display: flex;

	 div { 
	flex-flow: row wrap; 
	box-sizing: 
	border-box; 
	padding: 0 10px;
	align-items:center;
	display: flex;

		 a { 
		 color: #fff;
		 text-decoration:none; 
		 
		}
	}

}

#logo {	width: 10%;}

#main-nav {
	width:70%;
	justify-content: flex-end;

	a {padding: 0 20px;}
}

#sec-menu {
	width: 20%;
	justify-content: flex-end;

	a {padding: 0 10px;}
}

#nav-m {
	display: none;
	width: 90%;
	text-align: right;

}

#mobi-nav {
	width: 50%;
	position: absolute;
	z-index: 10;
	margin: 0;
	padding: 0;
	right: 0;
	top: 55px;
	background: $fgColor;
	display: none;

	li {
		list-style: none;
		
		text-align: center;

	}
	li a {
		color: $secondarycolor;
		display: block;
		padding: 8px 5px;
	}

	li:not(:last-child ) {
		border-bottom: 1px solid #efefef;
	}

}
.mobi-a {padding-bottom: 10px}
.mobi-a:hover > #mobi-nav{ display: block}

#slider {
	margin: 0;
	overflow: hidden;
	height: 560px;
}

#crsl {
	margin: 0;
	padding: 0;

	li {
		margin: 0;
		padding: 0;
		list-style: none;
		float:left;
	}

}

figure {
	position: relative;
	margin: 0;

	img { 
		width: 100%;
		display:block;
		margin:0 auto;
	}
}


figcaption {
	width: 40%;
	color: #fff;
	padding: 10px 10px 0 10px;
	margin: 100px 0 0 0;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	background-color: rgba( $rgb, 0.6);
	box-sizing: border-box;
	
	h1, p, span, h2, h3, h4 {color:$fgColor;}

}

#content { 
	background: $fgColor; 
	padding: 15px 30px;
}

#movielist {
	width: 100%;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;  
	display: flex;
	flex-flow: row wrap;
	box-sizing: border-box;
	justify-content:center;
	margin-top:15px;
	
	div {
		@include padLR(15px);
		@include margLR(10px);
		margin-bottom: 15px;
		padding-bottom: 15px;
		background:$bgColor;
		text-align: center;
	}
}


h1 { text-align: center; color: $primarycolor}

#tip { background: #f3f3f3 }

article {
	
	width: fit-content;
	margin: 10px auto;
	padding: 10px 15px;
	overflow: hidden;
	background: #fff;

	 img { 
		width: 250px; 
		float: left;
		margin-right: 10px; 
	}
}

footer {
	height: 60px;
	width: 100%;
	background: #000;
	color: #fff;
	line-height: 60px;
	padding: 0 20px;
	box-sizing: border-box;

}

.rating { display: block; }
.fa-star {color:#ffa500; margin-left:5px}


.big {@include bigLetter();}

.small { @include smLetter();}

/*Extra small devices (portrait phones, less than 576px)*/
@media screen and (max-width: 575.98px) {
	#content {
		background: #fff;
		padding: 15px 15px;
	}

	#movielist {
		flex-direction: column;
		div {
			flex-flow: column;
			margin: 15px 0;
		}
	}

	.small {margin-top: 0};
	
	article img {
		width: 100%;
		float: none;
		margin: 0;
		padding: 0;
	}

	#slider, #crsl {
		height: 196px;
	}

	figcaption {
		width: auto;
		margin-top: 50px;
	}

	#main-nav, #sec-menu { display:none;}
	#nav-m {
		display: grid;
		position: relative;
	}

 }

/*Small devices (landscape phones, less than 768px)*/
@media screen and(min-width: 600px) and (max-width: 991px) { 
	#slider {height: 372px}
	
	#movielist div {
		width: 40%;
		margin-bottom: 15px;
	}


 }

/* Medium devices (tablets, less than 992px)*/
@media screen and(min-width: 991.98px) { 
	article {width: 960px;}
	#movielist div {
		width: 20%;
	}
 }

/* Large devices (desktops, less than 1200px)*/
@media screen and (max-width: 1199.98px) { 
//	article {width: 960px;}
 }
